<style>
  #success_message{ display: none;}
</style>
<div class="all-wrapper fixed-header left-menu">
<div ng-include="'templates/header.html'" ></div>
<div  ng-if="!hideMenu" ng-include="'templates/left-sidebar.html'"></div>
<div class="main-content">
<div class="container">
  <form class="well form-horizontal" id="contact_form" name="businessCustForm" >
    <fieldset>
      <!-- Form Name -->
      <legend>Customer Details</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="first_name" placeholder="First Name" class="form-control"  ng-model ="user.firstName" type="text" required>
            
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.first_name.$dirty && businessCustForm.first_name.$invalid">
          <span ng-show="businessCustForm.first_name.$error.required">First Name is required.</span>
        </span>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label> 
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="last_name" placeholder="Last Name" class="form-control" ng-model ="user.lastName" type="text" required>

          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.last_name.$dirty && businessCustForm.last_name.$invalid">
          <span ng-show="businessCustForm.last_name.$error.required">Last Name is required.</span>
        </span>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" type = "email" placeholder="E-Mail Address" class="form-control"  ng-model ="username" disabled required>
            
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.email.$dirty && businessCustForm.email.$invalid">
          <span ng-show="businessCustForm.email.$error.required">Email is required.</span>
          <span ng-show="businessCustForm.email.$error.email">Invalid email address.</span>
        </span>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="(845)555-1212" class="form-control" phone-input ng-model ="user.phone" type="number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
            
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.phone.$dirty && businessCustForm.phone.$invalid">
          <span ng-show="businessCustForm.phone.$error.required">Phone Number is required.</span>
          <span ng-show="businessCustForm.phone.$error.pattern">Invalid Phone Number</span>
        </span>
      </div>

      <!-- Text input-->
      
      <div class="form-group">
        <label class="col-md-4 control-label">Address</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input type="text" name="address" id="address" placeholder="Address" class="form-control" ng-model ="user.address" type="text" required>
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.address.$dirty && businessCustForm.address.$invalid">
          <span ng-show="businessCustForm.address.$error.required">Address must be filled </span>
        </span>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">City</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="city" placeholder="city" class="form-control" ng-model ="user.city" type="text" required>
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.city.$dirty && businessCustForm.city.$invalid">
          <span ng-show="businessCustForm.city.$error.required">City must be given </span>
        </span>
      </div>

      <!-- Select Basic -->

      <div class="form-group"> 
        <label class="col-md-4 control-label">State</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="state" class="form-control selectpicker" ng-model ="user.state" required>
              <option value="" >Please select your state</option>
              <option>Alabama</option>
              <option>Alaska</option>
              <option >Arizona</option>
              <option >Arkansas</option>
              <option >California</option>
              <option >Colorado</option>
              <option >Connecticut</option>
              <option >Delaware</option>
              <option >District of Columbia</option>
              <option> Florida</option>
              <option >Georgia</option>
              <option >Hawaii</option>
              <option >daho</option>
              <option >Illinois</option>
              <option >Indiana</option>
              <option >Iowa</option>
              <option> Kansas</option>
              <option >Kentucky</option>
              <option >Louisiana</option>
              <option>Maine</option>
              <option >Maryland</option>
              <option> Mass</option>
              <option >Michigan</option>
              <option >Minnesota</option>
              <option>Mississippi</option>
              <option>Missouri</option>
              <option>Montana</option>
              <option>Nebraska</option>
              <option>Nevada</option>
              <option>New Hampshire</option>
              <option>New Jersey</option>
              <option>New Mexico</option>
              <option>New York</option>
              <option>North Carolina</option>
              <option>North Dakota</option>
              <option>Ohio</option>
              <option>Oklahoma</option>
              <option>Oregon</option>
              <option>Pennsylvania</option>
              <option>Rhode Island</option>
              <option>South Carolina</option>
              <option>South Dakota</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option> Uttah</option>
              <option>Vermont</option>
              <option>Virginia</option>
              <option >Washington</option>
              <option >West Virginia</option>
              <option>Wisconsin</option>
              <option >Wyoming</option>
            </select>
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.state.$touched && businessCustForm.state.$error.required">Please Select your State</span>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="zip" placeholder="Zip Code" class="form-control" ng-model ="user.zip" ng-pattern ="/^(\d{5}-\d{4}|\d{5})$/" type="number">
          </div>
        </div>
        <span style="color:red" ng-show="businessCustForm.zip.$dirty && businessCustForm.zip.$invalid">
          <span ng-show="businessCustForm.zip.$error.required">Zip is required.</span>
          <span ng-show="businessCustForm.zip.$error.pattern">Invalid Zip.</span>
        </span>
      </div>

      <!-- Images -->
      <div class="form-group">
                <label class="col-md-4 control-label" for="pictures">Add Picture</label>
                <div class="col-md-4">
                  <!-- <input id="pictures" type="file" ng-model="files"  name="files" ngf-max-size="2MB" ngf-keep="true"  /> -->
                  <input type="file" value="upload" id="fileButton"></input>
                  <progress value="0" max="100" id="uploader"> 0% </progress>
                </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" ng-disabled="(businessCustForm.first_name.$invalid) || ( businessCustForm.last_name.$invalid )
          || ( businessCustForm.email.$invalid )|| (businessCustForm.phone.$invalid) || (businessCustForm.address.$invalid) || ( businessCustForm.city.$invalid) || ( businessCustForm.state.$error.required) ||  (businessCustForm.zip.$invalid )"  class="btn btn-warning" ng-click="addDetailsofCustomer()" >Update Profile<span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset>
</form>
</div>
</div>

<div ng-include="'templates/footer.html'" ng-cloak></div>
</div>


<!-- /.container -->
<!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.1/angular-route.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<script src="user/business_customer/validator.js"></script> -->