<script src="admin/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>
<style type="text/css">
  th{
    cursor: pointer;
  }
</style>
<div class="all-wrapper fixed-header left-menu">
  <!-- <div ng-include="'templates/header.html'"></div> -->
  <!-- <div ng-include="'templates/left-sidebar.html'"></div> -->
  <!-- Header -->
  <div ng-include="'admin/AdminTemplate/adminHeader.html'"></div>
  <!-- Sidebar menu -->
  <div ng-include="'admin/AdminTemplate/adminSidemenu.html'"></div>

  <!-- Main body contents -->
  <div class="main-content">
    <p class="lead">Welcome Admin</p>
    <!-- delivery details -->
    <div class="widget widget-green">
      <span class="offset_anchor" id="stat_charts_anchor"></span>
      <div class="widget-title">
        <div class="widget-controls">
          <a href="" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
          <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
            <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-header">Set Widget Color</li>
              <li><a data-widget-color="blue" class="set-widget-color" href="#">Blue</a></li>
              <li><a data-widget-color="red" class="set-widget-color" href="#">Red</a></li>
              <li><a data-widget-color="green" class="set-widget-color" href="#">Green</a></li>
              <li><a data-widget-color="orange" class="set-widget-color" href="#">Orange</a></li>
              <li><a data-widget-color="purple" class="set-widget-color" href="#">Purple</a></li>
            </ul>
          </div>
          <a href="" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
          <a href="" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimize"><i class="fa fa-minus-circle"></i></a>
          <a href="" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times-circle"></i></a>
        </div>
        <h3><i class="fa fa-bar-chart-o"></i>Deliveries Statistics</h3>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-dashboard"></i> Total Delivery Request</div>
                <div class="value-block">
                  <div class="value-self">{{countNewDelivery}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-money"></i>Pending Request </div>
                <div class="value-block">
                  <div class="value-self">{{pendindgRequestCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-user"></i> Onroute Deliveries</div>
                <div class="value-block">
                  <div class="value-self">{{approvedDeliveriesCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center hidden-md">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-sign-in"></i> Cancelled deliveries</div>
                <div class="value-block">
                  <div class="value-self">{{cancelledDeliveriesCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- Drivers details -->
    <div class="widget widget-green">
      <span class="offset_anchor" id="stat_charts_anchor"></span>
      <div class="widget-title">
        <div class="widget-controls">
          <a href="" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
          <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
            <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-header">Set Widget Color</li>
              <li><a data-widget-color="blue" class="set-widget-color" href="#">Blue</a></li>
              <li><a data-widget-color="red" class="set-widget-color" href="#">Red</a></li>
              <li><a data-widget-color="green" class="set-widget-color" href="#">Green</a></li>
              <li><a data-widget-color="orange" class="set-widget-color" href="#">Orange</a></li>
              <li><a data-widget-color="purple" class="set-widget-color" href="#">Purple</a></li>
            </ul>
          </div>
          <a href="" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
          <a href="" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimize"><i class="fa fa-minus-circle"></i></a>
          <a href="" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times-circle"></i></a>
        </div>
        <h3><i class="fa fa-bar-chart-o"></i>Drivers Statistics</h3>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-dashboard"></i> Total Driver Request</div>
                <div class="value-block">
                  <div class="value-self">{{countDriverRequest}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-money"></i>Pending Drivers </div>
                <div class="value-block">
                  <div class="value-self">{{pendindgDriverCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-user"></i> Approved Drivers</div>
                <div class="value-block">
                  <div class="value-self">{{approvedDriverCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 text-center hidden-md">
            <div class="widget-content-blue-wrapper changed-up">
              <div class="widget-content-blue-inner padded">
                <div class="pre-value-block"><i class="fa fa-sign-in"></i> Cancelled Drivers</div>
                <div class="value-block">
                  <div class="value-self">{{cancelledDriverCount}}</div>
                  <div class="value-sub">Total</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Google map -->
    <div class="row">
      <div class="widget widget-blue" id="widget_gmaps">
        <div class="widget-title">
          <div class="widget-controls">
            <a href="" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
            <a href="" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
            <a href="" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
            <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
              <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
                <li class="dropdown-header">Set Widget Color</li>
                <li><a data-widget-color="blue" class="set-widget-color" href="">Blue</a></li>
                <li><a data-widget-color="red" class="set-widget-color" href="">Red</a></li>
                <li><a data-widget-color="green" class="set-widget-color" href="">Green</a></li>
                <li><a data-widget-color="orange" class="set-widget-color" href="">Orange</a></li>
                <li><a data-widget-color="purple" class="set-widget-color" href="">Purple</a></li>
              </ul>
            </div>
            <a href="" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
            <a href="" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimize"><i class="fa fa-minus-circle"></i></a>
            <a href="" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times-circle"></i></a>
          </div>
          <h3><i class="fa fa-map-marker"></i> Google Map</h3>
        </div>
        <div class="widget-content no-padding">
          <div id="map" style="height: 550px;"></div>
        </div>
      </div>
    </div>
    
    <!------------User Lists------------>
    <div class="row">
      <div class="widget widget-blue">
      <div class="widget-title">
        <div class="widget-controls">
          <a href="" class="widget-control widget-control-full-screen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" class="widget-control widget-control-full-screen widget-control-show-when-full" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exit Full Screen"><i class="fa fa-expand"></i></a>
          <a href="" data-toggle="dropdown" class="widget-control widget-control-settings"><i class="fa fa-cog"></i></a>
          <div class="dropdown" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
            <ul class="dropdown-menu dropdown-menu-small" role="menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-header">Set Widget Color</li>
              <li><a data-widget-color="blue" class="set-widget-color" href="">Blue</a></li>
              <li><a data-widget-color="red" class="set-widget-color" href="">Red</a></li>
              <li><a data-widget-color="green" class="set-widget-color" href="">Green</a></li>
              <li><a data-widget-color="orange" class="set-widget-color" href="">Orange</a></li>
              <li><a data-widget-color="purple" class="set-widget-color" href="">Purple</a></li>
            </ul>
          </div>
          <a href="" class="widget-control widget-control-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
          <a href="" class="widget-control widget-control-minimize" data-toggle="tooltip" data-placement="top" title="" data-original-title="Minimize"><i class="fa fa-minus-circle"></i></a>
          <a href="" class="widget-control widget-control-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="fa fa-times-circle"></i></a>
        </div>
          <h3><i class="fa fa-table"></i> Users List</h3>
      </div>
      <div class="widget-content no-padding">
        <div class="table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="row">
              <div class="col-sm-12" style="padding-top:5px;">
                <div class="pull-right">
                  <div class="dataTables_filter" id="DataTables_Table_0_filter">
                    Search by:<!-- <select ng-model="searchFrom" ng-options="x for x in searchList"></select> -->
                      <select ng-model="searchBy">
                          <option value="firstName" selected="selected">First Name</option>
                          <option value="lastName">Last name</option>
                          <option value="phone">Phone</option>
                          <option value="address">Address</option>
                          <option value="city">City</option>
                          <option value="state">State</option>
                          <option value="zip">Zip</option>
                          <option value="email">Email</option>
                        </select>
                    <label>
                      <input type="text" aria-controls="DataTables_Table_0" placeholder="Search by {{searchBy}}" ng-model="searchText" class="form-control input-sm" style="margin-left: 10px;">
                      <input type="checkbox" ng-model="exactMatch" />Exact Match
                    </label>
                  </div>
                </div>
                <div class="pull-left">
                  <div id="DataTables_Table_0_length" class="dataTables_length">
                    <label>Show 
                        <select ng-model="rowLimit">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="-100">100</option>
                        </select>
                        Rows</label>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <table id="myTable" class="table table-bordered table-hover datatable dataTable" ng-hide="editForm">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th ng-click="sortData('firstName')">First Name
                      <div ng-class="getSortClass('firstName')"></div>
                    </th>
                    <th ng-click="sortData('lastName')">Last Name
                      <div ng-class="getSortClass('lastName')"></div>
                    </th>
                    <th ng-click="sortData('email')">Email
                      <div ng-class="getSortClass('email')"></div></th>
                    <th ng-click="sortData('phone')">Phone
                      <div ng-class="getSortClass('phone')"></div>
                    </th>
                    <th ng-click="sortData('address')">Address
                      <div ng-class="getSortClass('address')"></div>
                    </th>
                    <th ng-click="sortData('city')">City
                    <div ng-class="getSortClass('city')"></div>
                    </th>
                    <th ng-click="sortData('state')">State
                    <div ng-class="getSortClass('state')"></div>
                    </th>
                    <th ng-click="sortData('zip')">Zip
                      <div ng-class="getSortClass('zip')"></div>
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                <!-- Search by particular selected field, need to be work on phone -->
                 <!--  <tr ng-repeat="request in requests | filter:search| limitTo:rowLimit | orderBy: sortColumn:reverseSort "> -->
                  <!-- Search by all the fields -->
                   <tr dir-paginate="request in requests | filter:search:exactMatch |itemsPerPage:rowLimit| limitTo:rowLimit | orderBy: sortColumn:reverseSort ">
                   <td>{{$index + 1}}</td>
                    <td>{{request.firstName}}</td>
                    <td>{{request.lastName}}</td>
                    <td>{{request.email}}</td>
                    <td>{{request.phone | tel}}</td>
                    <td>{{request.address}}</td>
                    <td>{{request.city}}</td>
                    <td>{{request.state}}</td>
                    <td>{{request.zip}}</td>
                    <td><a href="" ng-click="update(request)" ><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="" ng-click="deletePost(request)"><span class="glyphicon glyphicon-remove"></span></a></td>
                  </tr>    
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pull-right">
                    <!-- <div class="dataTables_paginate paging_bootstrap">
                      <ul class="pagination pagination-sm">
                        <li class="prev disabled">
                          <a href=""><i class="fa fa-double-angle-left"></i> Previous</a>
                        </li>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="next"><a href="">Next <i class="fa fa-double-angle-right"></i></a></li>
                      </ul>
                    
                    </div> -->
                      <dir-pagination-controls
                         max-size="5"
                         direction-links="true"
                         boundary-links="true" >
                      </dir-pagination-controls>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- user edit form -->
    <div ng-show="editForm">
      <form class="well form-horizontal" id="contact_form" name="businessCustForm" >
        <fieldset>
          <legend>Customer Details</legend>
          <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="first_name" placeholder="First Name" class="form-control"  ng-model ="firstName" type="text" required>
                
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.first_name.$dirty && businessCustForm.first_name.$invalid">
              <span ng-show="businessCustForm.first_name.$error.required">First Name is required.</span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" >Last Name</label> 
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="last_name" placeholder="Last Name" class="form-control" ng-model ="lastName" type="text" required>
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.last_name.$dirty && businessCustForm.last_name.$invalid">
              <span ng-show="businessCustForm.last_name.$error.required">Last Name is required.</span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" type = "email" placeholder="E-Mail Address" class="form-control"  ng-model ="username" disabled required>
                
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.email.$dirty && businessCustForm.email.$invalid">
              <span ng-show="businessCustForm.email.$error.required">Email is required.</span>
              <span ng-show="businessCustForm.email.$error.email">Invalid email address.</span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Phone #</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="phone" placeholder="(845)555-1212" class="form-control" ng-model ="phone" type="number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
                
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.phone.$dirty && businessCustForm.phone.$invalid">
              <span ng-show="businessCustForm.phone.$error.required">Phone Number is required.</span>
              <span ng-show="businessCustForm.phone.$error.pattern">Invalid Phone Number</span>
            </span>
          </div>  
          <div class="form-group">
            <label class="col-md-4 control-label">Address</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="address" placeholder="Address" class="form-control" ng-model ="address" type="text" required>
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.address.$dirty && businessCustForm.address.$invalid">
              <span ng-show="businessCustForm.address.$error.required">Address must be filled </span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">City</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="city" placeholder="city" class="form-control" ng-model ="city" type="text" required>
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.city.$dirty && businessCustForm.city.$invalid">
              <span ng-show="businessCustForm.city.$error.required">City must be given </span>
            </span>
          </div>
          <div class="form-group"> 
            <label class="col-md-4 control-label">State</label>
            <div class="col-md-4 selectContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                <select name="state" class="form-control selectpicker" ng-model ="state" required>
                  <option value="" >Please select your state</option>
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option >Arizona</option>
                  <option >Arkansas</option>
                  <option >California</option>
                  <option >Colorado</option>
                  <option >Connecticut</option>
                  <option >Delaware</option>
                  <option >District of Columbia</option>
                  <option> Florida</option>
                  <option >Georgia</option>
                  <option >Hawaii</option>
                  <option >daho</option>
                  <option >Illinois</option>
                  <option >Indiana</option>
                  <option >Iowa</option>
                  <option> Kansas</option>
                  <option >Kentucky</option>
                  <option >Louisiana</option>
                  <option>Maine</option>
                  <option >Maryland</option>
                  <option> Mass</option>
                  <option >Michigan</option>
                  <option >Minnesota</option>
                  <option>Mississippi</option>
                  <option>Missouri</option>
                  <option>Montana</option>
                  <option>Nebraska</option>
                  <option>Nevada</option>
                  <option>New Hampshire</option>
                  <option>New Jersey</option>
                  <option>New Mexico</option>
                  <option>New York</option>
                  <option>North Carolina</option>
                  <option>North Dakota</option>
                  <option>Ohio</option>
                  <option>Oklahoma</option>
                  <option>Oregon</option>
                  <option>Pennsylvania</option>
                  <option>Rhode Island</option>
                  <option>South Carolina</option>
                  <option>South Dakota</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option> Uttah</option>
                  <option>Vermont</option>
                  <option>Virginia</option>
                  <option >Washington</option>
                  <option >West Virginia</option>
                  <option>Wisconsin</option>
                  <option >Wyoming</option>
                </select>
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.state.$touched && businessCustForm.state.$error.required">Please Select your State</span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Zip Code</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="zip" placeholder="Zip Code" class="form-control" ng-model ="zip" ng-pattern ="/^(\d{5}-\d{4}|\d{5})$/" type="number">
              </div>
            </div>
            <span style="color:red" ng-show="businessCustForm.zip.$dirty && businessCustForm.zip.$invalid">
              <span ng-show="businessCustForm.zip.$error.required">Zip is required.</span>
              <span ng-show="businessCustForm.zip.$error.pattern">Invalid Zip.</span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" ng-disabled="(businessCustForm.first_name.$invalid) || ( businessCustForm.last_name.$invalid )
              || ( businessCustForm.email.$invalid )|| (businessCustForm.phone.$invalid) || (businessCustForm.address.$invalid) || ( businessCustForm.city.$invalid) || ( businessCustForm.state.$error.required) ||  (businessCustForm.zip.$invalid )"  class="btn btn-warning" ng-click="editFormSubmit()" >Update Profile<span class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>   
  </div>
</div>

<!-- <script src='html/assets/js/plugins/datatables/datatables.min.js'></script>
<script src='html/assets/js/plugins/datatables/bootstrap.datatables.js'></script>
<script src='html/assets/js/template_js/table.js'></script> -->