<style>
#success_message{ display: none;}
.row{padding-bottom: 10px;}

td{
  padding-left: 10px;
}
tr{
  margin-top: 10px;
}
</style>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?&libraries=places&callback=initAutocomplete" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<div class="all-wrapper fixed-header left-menu">
  <div ng-include="'templates/header.html'"></div>
  <div ng-include="'templates/left-sidebar.html'"></div>
  <div class="main-content">
    <div class="container">
<!-- <h2>Fill up the correct informatin to register for Driver....</h2> -->
      <form  id="contact_form" class="well " name="driverForm" ng-submit="addDetails()">
        <fieldset>
          <legend>Driver Personal Information</legend>
<!-- Personal information-->
            <div class="row">
              <div class="col-md-4 control-label">
                <label>First Name</label>
                <input name="first_name" placeholder="First Name" class="form-control"  ng-model ="details.firstName" type="text" required>
               <!--  <span style="color:red" ng-show="driverForm.first_name.$dirty"> -->
                <span style="color:red"  ng-show="driverForm.first_name.$touched  && driverForm.first_name.$invalid">First name is required.</span>
              </div>
              <div class="col-md-4 control-label">
                <label>Middle Name</label>
                <input name="middle_name" placeholder="Middle Name" class="form-control"  ng-model ="details.middleName" type="text" >
              </div>
              <div class="col-md-4 control-label">
                <label>Last Name</label>
                <input name="last_name" placeholder="Last Name" class="form-control"  ng-model ="details.lastName" type="text" required>
                <span style="color:red"  ng-show="driverForm.last_name.$touched && driverForm.last_name.$invalid">Last name is required.</span>
              </div>
            </div>
              <div class="row">
                <div class="col-md-4 control-label">
                  <label>Address</label>
                  <input name="address" placeholder="street name" class="form-control"  ng-model ="details.address" type="text" required>
                  <span style="color:red"  ng-show="driverForm.address.$touched && driverForm.address.$invalid">Address is required.</span>
                </div>
              </div>  
            <div class="row">
              <div class="col-md-4 control-label">
                <label>City</label>
                <input name="city" placeholder="City" class="form-control"  ng-model ="details.city" type="text" required>
                <span style="color:red"  ng-show="driverForm.city.$touched && driverForm.city.$invalid">City is required.</span>
              </div>
              <div class="col-md-4 control-label">
                <label>State</label>
                <select name="state" class="form-control selectpicker" ng-model ="details.state" required>
                  <option value="" >Please select your state</option>
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option >Arizona</option>
                  <option >Arkansas</option>
                  <option >California</option>
                  <option >Colorado</option>
                  <option >Connecticut</option>
                  <option >Delaware</option>
                  <option >District of Columbia</option>
                  <option> Florida</option>
                  <option >Georgia</option>
                  <option >Hawaii</option>
                  <option >Idaho</option>
                  <option >Illinois</option>
                  <option >Indiana</option>
                  <option >Iowa</option>
                  <option> Kansas</option>
                  <option >Kentucky</option>
                  <option >Louisiana</option>
                  <option>Maine</option>
                  <option >Maryland</option>
                  <option>Massachusetts</option>
                  <option >Michigan</option>
                  <option >Minnesota</option>
                  <option>Mississippi</option>
                  <option>Missouri</option>
                  <option>Montana</option>
                  <option>Nebraska</option>
                  <option>Nevada</option>
                  <option>New Hampshire</option>
                  <option>New Jersey</option>
                  <option>New Mexico</option>
                  <option>New York</option>
                  <option>North Carolina</option>
                  <option>North Dakota</option>
                  <option>Ohio</option>
                  <option>Oklahoma</option>
                  <option>Oregon</option>
                  <option>Pennsylvania</option>
                  <option>Rhode Island</option>
                  <option>South Carolina</option>
                  <option>South Dakota</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option> Uttah</option>
                  <option>Vermont</option>
                  <option>Virginia</option>
                  <option >Washington</option>
                  <option >West Virginia</option>
                  <option>Wisconsin</option>
                  <option >Wyoming</option>
                </select>
                <span style="color:red"  ng-show="driverForm.state.$touched && driverForm.state.$invalid">State is required.</span>
              </div>
              <div class="col-md-4 control-label">
                <label>Zip</label>
                <input name="zip" placeholder="Zip" class="form-control"  ng-model ="details.zip" type="number" ng-pattern ="/^(\d{5}-\d{4}|\d{5})$/"  required>
                <span style="color:red"  ng-show="driverForm.Zip.$touched && driverForm.Zip.$invalid">Zip is required.</span>
              </div>
            </div>
             <div class="row">
              <div class="col-md-4 control-label">
                <label>Email</label>
                <input name="email" type = "email" placeholder="E-Mail Address" class="form-control"  ng-model ="details.email" required>
                <!--email validationd display-->
                <span style="color:red" ng-show="driverForm.email.$dirty && driverForm.email.$invalid">
                  <span ng-show="driverForm.email.$error.required">Email is required.</span>
                  <span ng-show="driverForm.email.$error.email">Invalid email address.</span>
                </span>
              </div>
              <div class="col-md-4 control-label">
                <label>Phone No</label>
                <input name="phone" placeholder="(845)555-1212" class="form-control" ng-model ="details.phone" type="number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
                <!--Phone number validation display-->
                <span style="color:red" ng-show="driverForm.phone.$dirty && driverForm.phone.$invalid">
                  <span ng-show="driverForm.phone.$error.required">Phone Number is required.</span>
                  <span ng-show="driverForm.phone.$error.pattern">Invalid Phone Number</span>
                </span>
              </div>
            </div>
            <div class="row">             
              <div class="col-md-4 control-label"> 
                <label for="exampleInputFile">Choose your profile picture</label>
                  <input type="file" class="form-control-file" id="exampleInputFile"class="form-control" ngf-select ng-model="files"  name="file" accept="image/*"  required/>
                  <!-- <small class="text-muted">Choose your profile picture.</small> ng-model="details.photo"-->
                  <progress value="0" max="100" id="uploader.profilepicture"> 0% </progress>
              </div>
            </div>
            <br>
<!-- Licence detail -->

            <legend>Licence Information</legend>
            <div class="row">
              <div class="col-md-4 control-label">
                <label>DL No</label>
                <input name="DL_No" placeholder="DL No" class="form-control"  ng-model ="details.dlNO" type="text" required>
                <span style="color:red"  ng-show="driverForm.DL_No.$touched && driverForm.DL_No.$invalid">DL_No is required.</span>
              </div>
              <div class="col-md-2 control-label">
                <label>Valid till</label>
                <select name="month" class="form-control selectpicker" ng-model ="details.expiryDate.month" required>
                  <option value="" >Select month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <input name="year" placeholder="Year" class="form-control"  ng-model ="details.expiryDate.year" type="number" required style="margin-top: 10px;">
                <span style="color:red"  ng-show="driverForm.month.$touched && driverForm.month.$invalid && driverForm.year.$touched && driverForm.year.$invalid">Expiry date is required.</span>
              </div>
            </div> 
            <br>
<!--Vehicle details-->

            <legend>Vehicle Information</legend>
            <div class="row">
              <div class="col-md-4 control-label">
                <label>Vehicle No</label>
                <input name="vehicle_no" placeholder="Vehicle No" class="form-control"  ng-model ="details.vehicleNo" type="text" required>
                <span style="color:red"  ng-show="driverForm.vehicle_no.$touched && driverForm.vehicle_no.$invalid">Vehicle No is required.</span>
              </div>
              <div class="col-md-4 control-label">
                <label>Model</label>
                <input name="model" placeholder="Model" class="form-control"  ng-model ="details.model" type="text" required>
                <span style="color:red"  ng-show="driverForm.model.$touched && driverForm.model.$invalid">Model is required.</span>
              </div>
              <div class="col-md-4 control-label">
                <label>Color</label>
                <input name="color" placeholder="Vehicle color" class="form-control"  ng-model ="details.color" type="text" required>
                <span style="color:red"  ng-show="driverForm.color.$touched && driverForm.color.$invalid">Color is required.</span>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-4 control-label"> 
                <label for="exampleInputFile">Insurance Documents</label>
                  <input type="file" value="upload" class="form-control-file" id="insDocumentButton" class="form-control" ng-model="details.insuranceDoc" required>
                  <progress value="0" max="100" id="insuranceuploader"> 0% </progress>
                  <!-- <small class="text-muted">Choose your profile picture.</small> -->
              </div>
            </div>
              <br>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

<!-- <div ng-include="'templates/footer.html'" ng-cloak></div> -->

  </div>

  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  <!-- <script src="dist/firebase-file-uploader.min.js"></script> -->

  


