
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="delivery_request/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>
<!-- <script src="http://maps.google.com/maps/api/js?key=AIzaSyAurhKMKx41IeLjrSkg9OddA9-eduTz3vo&sensor=false"></script> -->


<div class="all-wrapper fixed-header left-menu">
  <div ng-include="'templates/header.html'"></div>
  <div ng-include="'templates/left-sidebar.html'"></div>
  <div class="main-content">
    <div class="container">
     <form name="deliveryForm" class="well form-horizontal" ng-submit="addDeliveryRequest()"  >
      <fieldset>
        <legend>Add New Delivery Request</legend>
        <div>
          {{successOrErrorMessage}}
        </div>
        <!-- payment div/ form -->
        <div class="col-sm-6" ng-show="paymentform">
          <form id="checkout" method="POST" action="/process">
            <div class="pure-g">
              <label class="pure-u-1-3 label" for="amount">Name your price:</label>
              <input class="pure-u-2-3" id="amount" class="pure-input-1" name="amount" type="text" placeholder="XX.XX" required>
            </div>
            <br>
            <div id="payment-form"></div>
            <button type="submit">Pay</button>
          </form>
        </div>
        <!-- delivery div -->
        <div class="col-sm-6" ng-hide="paymentform">
          <div class="form-group">
            <label class="col-md-4 control-label">Bill No</label>  
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
                <input  name="billNumber" placeholder="bill no" class="form-control"  ng-model ="deliveryRequest.billNo" type="text" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Full Name</label>  
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  name="fullName" placeholder="Full name" class="form-control"  ng-model ="deliveryRequest.fullName" type="text" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Phone #</label>  
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                <input name="phone" placeholder="(845)555-1212" class="form-control" ng-model ="deliveryRequest.phone" type="number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">No. of Boxes</label>  
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input  name="numberOFBox" placeholder="No. of boxes" class="form-control"  ng-model ="deliveryRequest.boxNum" type="number" required>
              </div>
            </div>
          </div> 
          <div class="form-group">
            <label class="col-md-4 control-label">Weight Of Delivery</label>  
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input  name="deliveryWeight" placeholder="Weigh in Pounds" class="form-control"  ng-model ="deliveryRequest.weight" type="number" required>
              </div>
            </div>
          </div> 
        <!-- <div class="form-group">
          <label class="col-md-4 control-label">Amount</label>  
          <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
             <input id="amount" name="amount" placeholder="Cost of package" class="form-control"  ng-model ="deliveryRequest.amount" type="number" required>
           </div>
         </div>

       </div>
       <div class="form-group">
        <label class="col-md-4 control-label">Amount Paid</label>  
        <div class="col-md-8 inputGroupContainer">
          <div class="input-group">
           <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
           <input name="amountPaid"  placeholder="Amount Paid" class="form-control" ng-model ="deliveryRequest.paidAmt" type="number"required>
         </div>
         <span ng-if="deliveryRequest.paidAmt > deliveryRequest.amount" style="color: red; ">
            Can't exceed total amount
            </span>
       </div>
     </div> -->
     <div class="form-group">
      <label class="col-md-4 control-label">Package Location</label>  
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input  type="text" id="pac-input" name="pac-input" ng-model="packageLocation" placeholder="Package Location" class="form-control" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Destination Address</label>  
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input  type="text" id="destination" name="destinationAdd" ng-model="destinationAddress"placeholder="Destination" class="form-control" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Delivery Within(hr)</label>  
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          <input  name="deliveryWithin" placeholder="Expected delivery time(hour)" class="form-control"  ng-model ="deliveryRequest.deliveryTime" type="number" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="totalAmount" class="col-sm-4 control-label">Total Cost </label>
      <div class="col-sm-6">
        <label style="padding-top: 10px;"><!-- {{deliveryRequest.amount + 0 | currency}} --></label>
      </div>
    </div> 

    <div class="form-group">
      <label for="unpaidAmount" class="col-sm-4 control-label">Your Estimated Cost </label>
      <div class="col-sm-6">
        <label style="padding-top: 10px; "><!-- {{deliveryRequest.amount - deliveryRequest.paidAmt | currency}} --></label>
      </div>
    </div> 

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-primary">Confirm and Pay</button>
        <button type="reset" class="btn btn-default" ng-click="cancelRequestForm()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Google map display -->

  <div  class="col-sm-6"  >
    <div id="map" style="overflow:hidden;width:500px;height:500px;resize:none;max-width:100%; max-height:100%; "></div>
    <div>
      <center>
       <small>*** CLick on map to set the delivery if input address does not apply</small>
     </center>
   </div>
 </div>
</fieldset>
</form>
</div>
</div> 
<!-- <div ng-include="'templates/footer.html'" ng-cloak></div>
--></div>



<script>
  function myFunction(){
    console.log('Here');
    console.log( $('#pac-input').val());
  }
</script>
