<div class="all-wrapper fixed-header left-menu">
  <div ng-include="'templates/header.html'"></div>
  <div ng-include="'templates/left-sidebar.html'"></div>
  <div class="main-content">
    <div class="response">
      <header>Ride Requested</header>

      <div class='response'>
        <label for="nameInput">Ride request</label>
        <input type='text' id='nameInput' ng-model="response.nameInput" placeholder='enter a username...'>
      </div>
      <ul id='example-messages'  class="example-chat-messages"></ul>
      <ul id='response-message'  class="example-notification"></ul>
      <!-- <p class="lead">{{username}} send a response </p> -->

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="accept()">Accept</button>
        <button type="button" class="btn btn-default" ng-click="reject()" data-dismiss="modal">Reject</button>
      </div>
    </div>
  </div>
  <div ng-include="'templates/footer.html'" ng-cloak></div>
</div>
