<!--Left side bar menu -->
<div class="side">
    <div class="sub-sidebar-wrapper">
        <ul class="nav">
            <li><a href="#home">Home</a></li>
            <!-- <li><a href="#addDetails">Add Details</a></li> -->
            <li><a href="#deliveryRequest">Delivery Request</a></li>
            <li><a href="#driver-information">Register as Driver</a></li>
         <!--    <li><a href="#cust_request">Customer Request</a></li> -->
            <li><a href="#settings">Manage Preferences</a></li>
           <!--  <li><a href="#driver_response">Driver Response</a></li> -->
        </ul>
    </div>
</div>

     

